<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ingredient Analyzer</title>
    <link rel="stylesheet" href="static/app.css">
  </head>
  <body>
    <h1>Ingredient List</h1> 
    <div>Add a new ingredient:
        <form id="ingredient_form" action="{{ url_for('analyze') }}" method="POST"> 
            <input id = "tb_ingredient" type="text" name="ingredient_to_add"> 
            <div id="ingredient_section" class="no_items">
                <div>
                    <h2>Ingredients:</h2>
                    <ul id="ingredients_to_analyze"></ul>
                </div>
                <div>
                    <input type="submit" value="Analyze" name="analyze" class="button" >
                    <input id="hdn_all_ingredients" type="hidden" name="ingredients">
                </div>
            </div>
        </form> 
       
    </div> 

    <script src="static/app.js"></script>
    
  </body>
</html>